.weather-app {
  max-width: 1200px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  color: #19314d;
  background: linear-gradient(#dde6ed, #f3f2ec);
  position: relative;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.col-6 {
  position: absolute;
  top: 40px;
  right: 40px;
}

#current-degree {
  font-size: 48px;
  font-weight: 600;
}

#location-button {
  background: white;
  color: #19314d;
  border-radius: 4px;
  border: 0px;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  margin-left: 5px;
  border: 2px solid #19314d;
}

#location-button:hover {
  background: #19314d;
  color: white;
  cursor: pointer;
}

.units {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -20px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

#submit-button {
  background: #19314d;
  color: white;
  border-radius: 4px;
  border: 0px;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
  margin-left: 1px;
}

#submit-button:hover {
  background: white;
  color: #19314d;
  cursor: pointer;
  border: 2px solid #19314d;
}

.additional-weather-data {
  border-radius: 30px;
  text-align: center;
  background: white;
  padding: 20px;
  box-shadow: 2px 5px 5px #7f8da4;
}

.col-3,
.col-4 {
  font-size: 48px;
  font-weight: 600;
}

#current-weather-icon {
  position: relative;
  top: -30px;
}

#description {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: -60px;
}

#description::first-letter {
  text-transform: capitalize;
}

.humidity-title {
  font-size: 24px;
  font-weight: 400;
}

.wind-title {
  font-size: 24px;
  font-weight: 400;
}

.forecast {
  margin-top: 30px;
}

#weather-forecast {
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 2px 4px 4px #7f8da4;
  transition: all 200ms ease-in-out;
}

#weather-forecast:hover {
  background: #b8cae0;
  transform: scale(1.1);
}

.weather-forecast-date {
  font-size: 32px;
  font-weight: 600;
}

.weather-forecast-day {
  font-size: 20px;
}

.weather-forecast-temperature-max {
  font-size: 32px;
  font-weight: 600;
  padding-right: 8px;
}

.weather-forecast-temperature-min {
  font-size: 32px;
  opacity: 0.8;
}

.humidity {
  font-size: 20px;
  font-weight: 300;
}

.current-temp .active {
  color: #19314d;
  cursor: default;
  text-decoration: none;
}

.footer {
  font-size: 12px;
}

#weather-forecast img {
  width: 100px;
  height: 100px;
}

#weather-forecast .col {
  text-align: center;
}

#weather-forecast .weather-forecast-temperatures {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 14px !important;
}
